.App {
  text-align: center;
  background: #646464;
  padding: 40px 60px;
  margin-top: 4rem;
}
.Top{background: #fff; padding: 10px ;}
nav ul a{padding: 10px; color: rgb(29, 131, 131); font-size: 18px; text-decoration: none;}
nav ul a:hover{color: crimson;}
.active{color: crimson;}